
  body {
  font-family: Arial, sans-serif;
  background-color: #121212; /* dark background */
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  align-items: center; /* vertical alignment */
  justify-content: center; /* horizontal centering */
  flex-wrap: wrap;
  gap: 40px;
  padding: 40px;
}

.left {
  flex: 0 1 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left img {
  width: 100%;
  max-width: 500px;
  border-radius: 12px;
  background-color: #2d1a0e; /* dark brown background for image */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 8px;
}

.right {
  flex: 0 1 400px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
}

.title {
  font-size: 2cqi;
  font-weight: bold;
}

.price {
  font-size: 1.5em;
  color: #ff4081;
}

.info {
  line-height: 1.5em;
}

.cart-btn {
  background-color: #6a0572;; /* purple Add to Cart button */
  border: none;
  padding: 12px 0;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
  font-size: 1em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  width: 100%;
  text-align: center;
  transition: background-color 0.3s ease;
}

.cart-btn:hover {
  background-color: #c539b7;
}

.product-info-section {
  background-color: #1f1f1f; /* dark brown info section */
  margin: 40px;
  padding: 20px;
  border-radius: 10px;
}

.product-info-section h2 {
  margin-bottom: 10px;
  border-bottom: 1px solid #333;
  padding-bottom: 5px;
}

.product-info-section table {
  width: 100%;
  border-collapse: collapse;
}

.product-info-section th,
.product-info-section td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #333;
}

.product-info-section th {
  width: 200px;
  color: #bbbbbb;
}