<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>Login - PalleteBay</title>
</head>
<body>
    <header>
        <h1>PalleteBay</h1>
        <nav>
            <a href="index.html">Home</a>
            <a href="products.html">Gallery</a>
        </nav>
    </header>

    <div class="login-container">
        <h2>Login to PalleteBay</h2>
        <a href="/auth/google?prompt=select_account" class="google-btn">
            <img src="./images/googlesignupicon.png" alt="Google logo">
            Sign in with Google
        </a>
    </div>
</body>
</html>
